body {
    background-color: #1c1c1e;
    color: #fefefe;
}
a {
    color: #5fa9ee;
}
img {
    filter: grayscale(20%);
}

.message {
    font-weight: 600;
    color: blue;
}


.navbar {
    background-color: lightslategray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-variant: small-caps;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    margin:0;
    padding:0;
}

.navbar li {
    margin:0;
    padding: 8px;
}

.navbar li:hover {
    background-color: #111;
 }
  
.navbar li.active {
    background-color: #777;
}
.navbar a {
    text-decoration: none;
    color: inherit;
}

.body-content {
    padding: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pannel-info { 
    max-width: 720px;
    width: 90%;
    background-color: darkcyan;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 2px 2px 2px gray;
    padding-top: 1px;
    padding-bottom: 10px;
    padding-left: 10px;
    text-align: center;
}

.temperature {
    display: inline-flex;
    font-size: 5em;
    margin:2%;
}

.error {
    color: lightcoral;
}

.secondary-info {
    font-size: 2em;
    margin:1%;
    color: lightgray;
}

.value-info {
    
    color: #fefefe;
    display: contents;
}

h3 {
    margin-left: 10px;
    font-size: 1.1em;
}

table.consigne {
    display: inline-block;
    border-collapse: collapse;

    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1em;
}
table.consigne tbody {
    display: inherit;
}
table.consigne td, th {
    padding-left: 1em;
    padding-right: 1em;
}

input {
    text-align: center;
}

select {
    font-size: inherit;
}