{% extends "layout.html" %}
{% block title %}
Configuration
{% endblock %}
{% block content %}
<form action='/' method='GET' class="pannel-info">
    <h3>Réglages avancés</h3>
    <div>
    <table class='consigne' width='80%'>
        <tr>
            <td>Date</td>
            <td class='consigne'> <input type='text' disabled='disabled' value='Mardi 23 septembre 2021'></td>
        </tr>
        <tr>
            <td>Heure</td>
            <td class='consigne'> <input type='text' disabled='disabled' value='17:35:42'></td>
        </tr>
        <tr>
            <td>Adresse IP</td>
            <td class='consigne'> <input type='text' disabled='disabled' value='192.168.0.12'></td>
        </tr>
        <tr>
            <td>Serveur NTP</td>
            <td class='consigne'> <input type='text' disabled='disabled' value='fr.pool.ntp.org'></td>
        </tr>
        <tr>
            <td>Contraste LCD</td>
            <td class='consigne'> <input type='range' step='1' min='0' max='255' id='lcdContrast' value='128' name='Lcd Contrast'></td>
        </tr>
    </table>
    </div>            
    <input type='submit' Value='Valider'>
</form>
{% endblock %}