{% extends "layout.html" %}
{% block title %}
Configuration des périodes de chauffe
{% endblock %}
{% block content %}
<form action='' class="pannel-info" id="timeSlotForm">
    <table class="timeSlot" >
        <tr>
            <th></th>
            <th>Lundi</th>
            <th>Mardi</th>
            <th>Mercredi</th>
            <th>Jeudi</th>
            <th>Vendredi</th>
            <th>Samedi</th>
            <th>Dimanche</th>
        </tr>
        <tr>
            <td>Périodes de chauffe</td>
            <td>
                <button id="button_Mon" type="button" class="add-button" onclick="addTimeSlot(this)">Ajouter une période</button>
            </td>
            <td>
                <button id="button_Tue" type="button" class="add-button" onclick="addTimeSlot(this)">Ajouter une période</button>
            </td>
            <td>
                <button id="button_Wed" type="button" class="add-button" onclick="addTimeSlot(this)">Ajouter une période</button>
            </td>
            <td>
                <button id="button_Thu" type="button" class="add-button" onclick="addTimeSlot(this)">Ajouter une période</button>
            </td>
            <td>
                <button id="button_Fri" type="button" class="add-button" onclick="addTimeSlot(this)">Ajouter une période</button>
            </td>
            <td>
                <button id="button_Sat" type="button" class="add-button" onclick="addTimeSlot(this)">Ajouter une période</button>
            </td>
            <td>
                <button id="button_Sun" type="button" class="add-button" onclick="addTimeSlot(this)">Ajouter une période</button>
            </td>
        </tr>
    </table>
    <button type="button" onclick="submitTimeSlots()">Valider</button>
</form>

{% endblock %}