{% extends "layout.html" %}
{% block title %}
Configuration
{% endblock %}
{% block content %}
<form action='' method='GET' class="pannel-info" id="advanced-form">
    <h3>Réglages avancés</h3>
    <div>
    <table class='config' width='80%'>
        <tr>
            <td>Date</td>
            <td> <input type='date' value='' name='date' disabled=""></td>
        </tr>
        <tr>
            <td>Heure</td>
            <td> <input type='time' value='' name='time' disabled=""></td>
        </tr>
        <tr>
            <td>Adresse IP</td>
            <td> <input type='text' value='' name='ipAddress' disabled=""></td>
        </tr>
        <tr>
            <td>Serveur NTP</td>
            <td> <input type='text' value='' name='ntpServer' disabled=""></td>
        </tr>
        <tr>
            <td>Contraste LCD</td>
            <td> <input type='range' step='1' min='0' max='255' value='0' name='lcdContrast'></td>
        </tr>
    </table>
    </div>            
    <input type='submit' Value='Valider'>
</form>
{% endblock %}