{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<div class="pannel-info" id="home-status">
    <div class="secondary-info" id="time"></div>
    <div class="temperature" id="tempContainer">
        <div id="temperature"></div>
        <div id="unit">°C</div>
    </div>

    <div class="secondary-info">Mode: <div class="value-info" id="mode"></div></div>
    <div class="secondary-info">Circulateur: <div class="value-info" id="pump"></div></div>
</div>

{% endblock %}


