{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<div class="pannel-info">
    <p class="temperature">17.85°C</p>
    <p class="secondary-info">Circulateur: On</p>
</div>
<form action='/' method='GET' class="pannel-info">
    <h3>Réglages</h3>
    <div>
    <table class='consigne' width='80%'>
        <th>
            <td>Consigne</td>
            <td>Delta</td>
        </th>
        <tr>
            <td>Normal</td>
            <td class='consigne'> <input type='number' step='0.1' min='5' max='35' size='3' id='mode' value='19,0' name='Normal'>°C</td>
            <td class='consigne'> <input type='number' step='0.1' min='0' max='5' id='mode' value='0,5' size='3' name='Deltan'>°C</td>
        </tr>
        <tr>
            <td>Eco</td>
            <td class='consigne'> <input type='number' step='0.1' min='5' max='35' id='mode' value='16,0' size='3' name='Eco'>°C</td>
            <td class='consigne'> <input type='number' step='0.1' min='0' max='5' id='mode' value='0,5' size='3' name='Deltae'>°C</td>
        </tr>
    </table>
    </div>            
    <input type='submit' Value='Valider'>
</form>

{% endblock %}


