<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="data:,">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
    </head>

    <body>
        <div class="navbar">
            <a href="{{ url_for('home') }}" class="navbar-item {% if request.path == url_for('home') %}active{% endif %}">Home</a></li>
            <a href="{{ url_for('config') }}" class="navbar-item {% if request.path == url_for('config') %}active{% endif %}">Réglages</a></li>
            <a href="{{ url_for('configAdvanced') }}" class="navbar-item {% if request.path == url_for('configAdvanced') %}active{% endif %}">Réglages avancés</a></li>
            <a href="{{ url_for('about') }}" class="navbar-item {% if request.path == url_for('about') %}active{% endif %}">About</a></li>
        </div>

        <div class="body-content">
            {% block content %}
            {% endblock %}
            <hr/>
            <footer>
                <p>Thermostato - 2023</p>
            </footer>
        </div>
        <script src="{{ url_for('static', filename='index.js')}}"></script>
    </body>
</html>